:root{
    
    --Dark-cyan: hsl(158, 36%, 37%);
    --Dark-cyan-2: hsl(158, 36%, 10%);
    --Cream: hsl(30, 38%, 92%);
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);

    --font-primary: 'Montserrat', sans-serif;
    --font-title: 'Fraunces', serif;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *::before, *::after{ box-sizing: inherit; }

body{
    height: 97vh;
    font-family: var(--font-primary);
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Cream);
}

img{
    max-width: 100%;
}

.card{
    margin: 0rem 1rem;
    border-radius: 1.5rem;
    position: absolute;
    overflow: hidden;
    background-color: var(--White);
}

.card--img{
    position: relative;
}

.desktop{
    display: none;
}

.card--description{
    padding: 1rem 3rem;
}

.description--pretitle{
    color: var(--Dark-grayish-blue);
    text-transform: uppercase;
    letter-spacing: .4rem;
}

.description--title{
    margin: 0;
    font-family: var(--font-title);
    font-weight: 700;
    font-size: 3.7rem;
}

.description--paragragh{
    line-height: 2.5rem;
    font-size: 1.56rem;
    color: var(--Dark-grayish-blue);
}

.description--price{
    margin: 0;
    margin-bottom: 1rem;
    padding: 0;
    display: flex;
    align-items: center;
    column-gap: 2rem;
}

.price--active{
    margin: 0;
    font-family: var(--font-title);
    font-size: 3rem;
    color: var(--Dark-cyan);
}

.price--discount{
    color: var(--Dark-grayish-blue);
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;

    width: 100%;
    border: none;
    border-radius: 1rem;
    padding: 2rem 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    
    color: var(--White);
    font-size: 1.5rem;
    font-family: var(--font-primary);
    font-weight: 700;
    background-color: var(--Dark-cyan);
}

.button:hover{
    cursor: pointer;
    background-color: var(--Dark-cyan-2);
}

@media (min-width: 706px) {
    .card{
        display: flex;
        width: 70rem;
        height: 50rem;
    }

    .card--img img{
        background-position:center;
        width: 100rem;
        height: 100%;
    }

    .card--description{
        padding: 4rem;
        padding-top: 2rem;
    }

    .description--title{
        font-size: 3.5rem;
    }

    .mobile{
        display: none;
    }

    .desktop{
        display: block;
    }
}